/* common css start */
:root{
    --primary-color:#FFCC00;
    --secondary-color:#353535;
    --black-color:#000;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{  
font-family: 'Poppins', sans-serif;
font-weight: 400;
}
 h1,h2{
        font-family: 'PT Sans', sans-serif;
 }
 h3,h4,h5,h6{
    font-weight: 600;
 }
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    width: 1110px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}
.w-100{
    max-width: 100%;
}
.d-block{
    display: block;
}
/* //common css end */
/* nav section start */
#Nav{
    padding-top: 14px;
}
#Nav div .row{
    justify-content: space-between;
    align-items: center;
}
#Nav ul li a{
    display: inline-block;
    padding: 14px 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: var(--secondary-color);
    text-transform: uppercase;
    position: relative;
}
#Nav ul li a::after{
 content: '';
position: absolute;
width: 0;
height: 1px;
background-color: var(--secondary-color);
bottom: 0;
left: 0;
transition: .7s;
}
#Nav ul li:hover a::after{
    width: 100%;
    left: 0;
}
/* nav section end */


/* banner section start */
#banner{
    padding: 50px;
}
#banner .banner_contain{
 width: 55%;
}
#banner .banner_img{
    width: 45%;
}
#banner h4{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--secondary-color);
}
#banner h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    color: var(--secondary-color);
}
#banner p{
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: var(--secondary-color);
}
#banner .banner_contain .a_1 a{
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    color: var(--secondary-color);
    border-radius: 20px;;
    padding: 15px 12px;
    margin-left: 0px;
    margin-right: 50px;
    transition: .7s;
    border: 1px solid var(--black-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#banner .banner_contain .a_1:hover a{
    background-color: var(--primary-color);
    color: #fff;
}
#banner .banner_contain .a_2 a{
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    color: var(--secondary-color);
    border-radius: 20px;;
    padding: 15px 12px;
    margin-left: 0px;
    margin-right: 50px;
    transition: .7s;
    border: 1px solid var(--black-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#banner .banner_contain .a_2:hover a{
    background-color: var(--primary-color);
    color: #fff;
}

#banner .banner_contain ul li a{
    width: 40px;
    height: 40px;
    background-color: #F4F3F3;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    transition: .7s;
    color: var(--black-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#banner .banner_contain ul li:hover a{
    color: var(--primary-color);
    background-color: var(--black-color);
}
/* banner section ends */



/* about item start */


#about{
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 530px;
}
#about .about_img{
    width: 50%;

    
}
#about .about_class{
    width: 50%;
    padding: 70px 0;
}
#about div .row {
    justify-content: space-between;
    text-align: left;
}
#about h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: var(--black-color);
}
#about p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: var(--secondary-color);
}
#about a{
    color: var(--black-color);
    border-radius: 20px;
    border: 1px solid var(--black-color);
    text-align: center;
    padding: 15px;
    transition: .7s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
#about div .aaa:hover a{
    background-color: var(--primary-color);
    color:#fff;
}
/* fun_fect start */
#fun_fect{
    padding: 100px;
}
#fun_fect .row{
    justify-content: space-between;
   
}
#fun_fect .fun_fect_item img{
padding-left: 115px;
padding-bottom: 40px;
}
#fun_fect .fun_fect_item{
    width: 32%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 20px;

}
#fun_fect .fun_fect_item h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    color: var(--black-color);
    
}
#Fun_fect .fun_fect_item img{
    align-items: center;
}
#fun_fect .fun_fect_item p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 190%;
color: var(--secondary-color);
}


/* brending start */


#brending{
    background-image: url(../images/Rectangle\ 16\(1\).png);
    background-position: center;
    background-size: cover;
    height: 450px;

}
#brending .brending_img{
    width: 50%;

    
}

#brending .brending_contain{
    width: 50%;
    padding: 93px;
}
#brending .brending_contain h2{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    padding-bottom: 40px;
    color: var(--secondary-color);
}
#brending .brending_contain p{
    font-size: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: var(--secondary-color);

}

#brending .brending_contain a{
 border: 1px solid var(--black-color);  
 border-radius: 25px; 
 padding: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 180%;
text-align: center;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
transition: 0.7s;
color: var(--secondary-color)



}
#brending .a-3:hover a{
    background-color: #fff;
    color: var(--black-color);
}
#brending .row{
    justify-content: space-between;

}

/* brending ends */

/* helping item start */
#help{
  padding: 100px;
}
#help div .row{
    justify-content: space-between;
}

#help .help_info h2{
    font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 65px;

text-align: right;

color: var(--black-color)
}
#help .help_info p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 190%;
text-align: right;

color:var(--secondary-color)
}
#help .help_info_doc h3{
    font-weight: 700;
font-size: 40px;
line-height: 52px;
text-align: right;
color: var(--secondary-color);
}
#help .help_info_doc small{
   
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 180%;


color: var(--secondary-color)
}


#help .help_menu .help_item{
    border: 0px solid var(--black-color);
    padding: 15px 45px;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#help .help_menu .help_item .help_item_info h6{
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 180%;

/* or 32px */

color: #353535;
}

#help .help_menu .help_item .help_item_info p{
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 180%;



color: #353535;
}


#help .help_menu .help_item .hp_0 i{
    background: #55852F;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 20PX;
    border-radius: 50%;
    margin-bottom: 15PX;
    margin: auto;

}
#help .help_menu .help_item .hp_1 i{
    background: #FEDC2A;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 25PX;

    margin-bottom: 10PX;
    margin: auto;
    border-radius: 50%;
    text-align: center;
}

#help .help_menu .help_item .hp_2 i{
    background: #FF8D3A;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 25PX;

    margin-bottom: 10PX;
   margin: auto;
    border-radius: 50%;
}

/* experience item start */

#experience .experience-location{
    width: 20%;
}
#experience .experience-img{
    width: 20%;
}
#experience .experience-details{
    width: 60%;
}
#experience .row{
    justify-content: space-between;
}
#experience h2{
    font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 65px;


text-align: center;

color: #353535;
padding: 25px;
}
#experience .experience-location .ex-locate{
    border: 0px solid var(--black-color);
    
    margin-bottom: 100px;
}
#experience .experience-location .ex-locate h3{
 
font-weight: 600;
font-size: 24px;
line-height: 180%;
color: #353535;

}
#experience .experience-location .ex-locate p{
   
font-weight: 500;
font-size: 18px;
line-height: 180%;

color: #7A7A7A;


}
#experience .experience-details .ex-detail{
    border: 0px solid var(--black-color);
    margin-bottom: 70px;
  
}

#experience .experience-details .ex-detail h3{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 180%;
color: #353535;


}
#experience .experience-details .ex-detail p{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 200.5%;
color: #7A7A7A;
}